In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', 500)

In [24]:
drug = pd.read_csv("C:\\Users\\ASUS\\Desktop\\covid_pure\\training\\drug_exposure.csv")
gs = pd.read_csv("C:\\Users\\ASUS\\Desktop\\covid_pure\\training\\goldstandard.csv")
data_dict = pd.read_csv("data_dictionary.csv")
drug.head()

,person_id,drug_exposure_id,drug_concept_id,drug_exposure_start_date,drug_exposure_start_datetime,drug_exposure_end_date,drug_exposure_end_datetime,verbatim_end_date,drug_type_concept_id,stop_reason,refills,quantity,days_supply,sig,route_concept_id,lot_number,provider_id,visit_occurrence_id,visit_detail_id,drug_source_value,drug_source_concept_id,route_source_value,dose_unit_source_value
0,303,1,40162672,2014-11-05,2014-11-05,2014-11-15,2014-11-15,NaN,38000177,NaN,3.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40162672,Oral,mg
1,1064,2,752205,2012-03-15,2012-03-15,2012-03-19,2012-03-19,NaN,38000177,NaN,NaN,30.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,752205,Oral,NaN
2,258,3,40234301,2019-12-27,2019-12-27,2020-01-01,2020-01-01,NaN,38000177,NaN,2.0,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40234301,Oral,NaN
3,671,4,19074558,2012-04-16,2012-04-16,2012-04-17,2012-04-17,NaN,38000177,NaN,0.0,150.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19074558,Oral,mg
4,3,5,968205,2013-04-01,2013-04-01,2013-04-09,2013-04-09,NaN,38000177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,968205,Irrigation,mL

In [25]:
columns = ["person_id", "drug_concept_id", "drug_exposure_start_date",
           "drug_exposure_end_date", "refills", "quantity", 
           "route_source_value", "dose_unit_source_value"]
drug = drug[columns]
drug.head()

,person_id,drug_concept_id,drug_exposure_start_date,drug_exposure_end_date,refills,quantity,route_source_value,dose_unit_source_value
0,303,40162672,2014-11-05,2014-11-15,3.0,60.0,Oral,mg
1,1064,752205,2012-03-15,2012-03-19,NaN,30.0,Oral,NaN
2,258,40234301,2019-12-27,2020-01-01,2.0,56.0,Oral,NaN
3,671,19074558,2012-04-16,2012-04-17,0.0,150.0,Oral,mg
4,3,968205,2013-04-01,2013-04-09,NaN,NaN,Irrigation,mL

In [26]:
d= {}
values = drug.drug_concept_id.unique()
print(values)
for id_x in values:
    try:
        value = data_dict[data_dict['concept_id'] == id_x]['concept_name'].values[0]
        d[id_x] = value
    except:
        pass
    

drug['drug_concept_id'] = drug['drug_concept_id'].map(d)
drug.head()

[40162672   752205 40234301 ... 40221966   965777 43525695]

,person_id,drug_concept_id,drug_exposure_start_date,drug_exposure_end_date,refills,quantity,route_source_value,dose_unit_source_value
0,303,Amitriptyline Hydrochloride 10 MG Oral Tablet,2014-11-05,2014-11-15,3.0,60.0,Oral,mg
1,1064,Prochlorperazine 5 MG Oral Tablet,2012-03-15,2012-03-19,NaN,30.0,Oral,NaN
2,258,etravirine 200 MG Oral Tablet,2019-12-27,2020-01-01,2.0,56.0,Oral,NaN
3,671,Calcium Carbonate 500 MG Chewable Tablet,2012-04-16,2012-04-17,0.0,150.0,Oral,mg
4,3,Sodium Chloride 0.154 MEQ/ML Irrigation Solution,2013-04-01,2013-04-09,NaN,NaN,Irrigation,mL

In [45]:
drug['drug_exposure_start_date'] = pd.to_datetime(drug['drug_exposure_start_date'])
drug['drug_exposure_end_date'] = pd.to_datetime(drug['drug_exposure_end_date'])

In [49]:
drug['time_of_drug'] = drug['drug_exposure_end_date'] - drug['drug_exposure_start_date']
drug.dtypes

person_id                             int64
drug_concept_id                      object
drug_exposure_start_date     datetime64[ns]
drug_exposure_end_date       datetime64[ns]
refills                             float64
quantity                            float64
route_source_value                   object
dose_unit_source_value               object
time_of_drug                timedelta64[ns]
dtype: object

In [52]:
drug['year'] = pd.DatetimeIndex(drug['drug_exposure_start_date']).year
drug = drug[drug['year'] >= 2020]

In [60]:
drug[drug["person_id"] == 1].sort_values("drug_exposure_start_date",ascending=False)

,person_id,drug_concept_id,drug_exposure_start_date,drug_exposure_end_date,refills,quantity,route_source_value,dose_unit_source_value,time_of_drug,year
10696,1,Ketoconazole 20 MG/ML Topical Cream,2020-04-28,2020-05-06,0.0,15.0,External,NaN,8 days,2020
31058,1,Lactic acid 120 MG/ML Topical Lotion,2020-01-11,2020-01-16,3.0,227.0,External,NaN,5 days,2020

In [54]:
drug.shape

(2318, 10)

In [55]:
gs[gs['status'] == 1]

      person_id  status
8             8     1.0
12           12     1.0
33           33     1.0
58           58     1.0
70           70     1.0
...         ...     ...
1203       1203     1.0
1216       1216     1.0
1225       1225     1.0
1233       1233     1.0
1234       1234     1.0

[107 rows x 2 columns]